body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(https://caracoltv.brightspotcdn.com/dims4/default/f28ad4c/2147483647/strip/true/crop/1080x720+0+0/resize/1000x667!/quality/90/?url=http%3A%2F%2Fcaracol-brightspot.s3.amazonaws.com%2F35%2Fa0%2Fa1c9d76145228fae1c02c4c00290%2Fimagen-por-el-cumpleanos-60-de-once-caldas.%20Foto%20Once%20Caldas.png);
    background-repeat: no-repeat;
    background-size: 1900px;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10 px 0px;
    }
}